/* src/index.css */
nav {
  background-color: black;
  color: white;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-right: 20px;
  color: white;
}

input[type="number"] {
  width: 50px;
  margin-left: 10px;
}

.product {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.cart div {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.cart button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}
